<div #side class="side-bar">
<div #myDiv class="editoperator_div" id="editoperatorname">
  <div class="row mt-4 ml-1 pb-2">

    <svg _ngcontent-c3="" xml:space="preserve" id="closeSideBar" (click)="goBack()" class="side-bar-back-icon"
      xmlns:xlink="http://www.w3.org/1999/xlink" height="20px" style="enable-background:new 0 0 31.494 31.494;" version="1.1"
      viewBox="0 0 31.494 31.494" width="20px" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
      <path _ngcontent-c3="" d="M10.273,5.009c0.444-0.444,1.143-0.444,1.587,0c0.429,0.429,0.429,1.143,0,1.571l-8.047,8.047h26.554  c0.619,0,1.127,0.492,1.127,1.111c0,0.619-0.508,1.127-1.127,1.127H3.813l8.047,8.032c0.429,0.444,0.429,1.159,0,1.587  c-0.444,0.444-1.143,0.444-1.587,0l-9.952-9.952c-0.429-0.429-0.429-1.143,0-1.571L10.273,5.009z"
        fill="#169bd7"></path>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
      <g _ngcontent-c3=""></g>
    </svg>
  </div>
  <div class="row pt-1">

    <div class="col-4 bf-five-text">{{details?.OperatorName}}</div>
    <div class="col-4"></div>
    <div (click)="editHome()" class="col-2 additional-box-edit-text">
      <img src="../../../../assets/icon/icons-edit-ic.png" alt=""> Edit
    </div>
   
  </div>

  <div class="row pt-3">

    <div class="col-3 station-txt">Assigned to</div>

    <div class="col-5 tampa-txt">{{details?.Department}}</div>

  </div>

  <div class="row pt-3 pb-3">

      <div class="col-3 station-txt">Certification expires</div>

      <div class="col-2 tampa-txt" *ngIf="details?.CertDate!=null && details?.CertDate!=undefined">{{details?.CertDate|date:'d-M-y'}}</div>

      <div class="col-2 station-txt">
        <div *ngIf="details?.Certificate=='Expired'" (click)="openCertification('')" class="renew-btn-outer" style="cursor:pointer">
            <div class="renew-btn-txt">Renew</div>
        </div>
        <div *ngIf="details?.Certificate!='Expired'" (click)="openCertification('')" class="renew-btn-outer" style="cursor:pointer">
            <div class="renew-btn-txt">Add</div>
        </div>
      </div>

    </div>

    <hr class="hr-line pb-4">
   

    <!-- title-text -->
    
  <div class="title-txt col-4"> <b>INCIDENTS HISTORY</b></div>
  <br><br>
   
   <!-- Mat-Table  -->

   <table mat-table class="sidebar-mat-table" [dataSource]="dataSource3" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="Date">
      <th class="mat-table-t-h" mat-header-cell *matHeaderCellDef> Timestamp </th>
      <td class="mat-table-t-d" mat-cell *matCellDef="let element"> 
        {{element.Date}} 
        <div class="time-txt">{{element.Time}}</div>
      </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Kind">
      <th class="mat-table-t-h" mat-header-cell *matHeaderCellDef> Kind </th>
      <td class="mat-table-t-d" mat-cell *matCellDef="let element"> {{element.Kind}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="AssetName">
      <th class="mat-table-t-h" mat-header-cell *matHeaderCellDef> Asset </th>
      <td class="mat-table-t-d" mat-cell *matCellDef="let element"> {{element.AssetName}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Location">
      <th class="mat-table-t-h" mat-header-cell *matHeaderCellDef> Location </th>
      <td class="mat-table-t-d" mat-cell *matCellDef="let element"> {{element.Location}} </td>
    </ng-container>

<!-- Symbol Column -->
    <ng-container matColumnDef="Comment">
      <th class="mat-table-t-h" mat-header-cell *matHeaderCellDef> Comments </th>
      <td class="mat-table-t-d" mat-cell *matCellDef="let element"> {{element.Comment}} </td>
    </ng-container>
    
    <!-- Symbol Column -->
    <ng-container matColumnDef="Cost">
      <th class="mat-table-t-h" mat-header-cell *matHeaderCellDef> Cost </th>
      <td class="mat-table-t-d" mat-cell *matCellDef="let element"> {{element.Cost}} </td>
      <!-- <td mat-cell *matCellDef="let element">$500</td> -->
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Reports">
      <th class="mat-table-t-h" mat-header-cell *matHeaderCellDef> Report </th>
      <td class="mat-table-t-d" mat-cell *matCellDef="let element"><img src="../../../../assets/icon/add-incident.png" alt=""></td>
      <!-- <td mat-cell *matCellDef="let element">Reported</td> -->
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
  </table>
</div>
  



   
    
  
