<div>
  <span class="ml-3" style="font-family:robotoCondensedregular;;font-size: 16px;color: #EA4256;" mat-button color="accent">
    <b class="mob-view-popup-align-head">HIGH IMPACT ALARM</b></span>
  <div class="container body-content">
      <div class="row justify-content-start ml-3" style="padding-top:10px;
      font-family: robotoCondensedregular;font-size: 15px;
      letter-spacing: 1px;color: #4D4D61;">
        <label>You have 3 high impacts</label>
      </div>
    <div class="container mob-view-popup-align">
      
      <br>
      <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 label-style p-0">
          10 Jul 2018
        </div>
        <div class="d-none d-sm-block col-md-1 col-lg-1 col-xl-1 col-sm-1"></div>
        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 label-value p-0">
          Asset type # 1 / Asset name # 7
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 label-style p-0" >
          05: 35 PM
        </div>
        <div class="d-none d-sm-block col-md-1 col-lg-1 col-xl-1 col-sm-1"></div>
        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 label-value p-0">
          Operator <span style="color:#169BD7">Ricky Brewer </span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 label-style p-0">
          09 Jul 2018
        </div>
        <div class="d-none d-sm-block col-md-1 col-lg-1 col-xl-1 col-sm-1"></div>
        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 label-value p-0">
          Asset type # 1 / Asset name #7
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 label-style p-0">
          05: 35 PM
        </div>
        <div class="d-none d-sm-block col-md-1 col-lg-1 col-xl-1 col-sm-1"></div>
        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 label-value p-0">
          Operator <span style="color:#169BD7">Ricky Brewer</span>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 label-style p-0">
          09 Jul 2018
        </div>
        <div class="d-none d-sm-block col-md-1 col-lg-1 col-xl-1 col-sm-1"></div>
        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 label-value p-0">
          Asset type # 1 / Asset name #7
        </div>
      </div>
      <div class="row">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 label-style p-0">
          05: 35 PM
        </div>
        <div class="d-none d-sm-block col-md-1 col-lg-1 col-xl-1 col-sm-1"></div>
        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7 label-value p-0">
          Operator <span style="color:#169BD7"> Don Carson</span>
        </div>
      </div>
    </div>
    <div class="row justify-content-start" style="padding-top:10px;">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding-top:10px;">
        <div style="cursor: pointer;" class="report-dr-down-two">
          <div  (click)="onNoClick()" class="report-dr-down-txt-two pad-0 pt-1">Remind in 1 Hour

            
          </div>
        </div>

      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding-top:10px;">
        <div style="cursor: pointer;" class="report-dr-down">
          <div id="myDiv2" #myDiv2 (click)="onNoClick()" class="report-dr-down-txt pt-1">To Alarms</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" cdkFocusInitial>Send</button>
</div> -->
