<div class="side-bar-container d-none d-md-block">
  <div class="text-center "  style="height: 80px;">
    <div class="item-menu-txt"></div>
  </div>
  <!-- <div *ngIf="model.dashboard" class="text-center sidebar-menu-item" [routerLink]="['/home/dashboard']" routerLinkActive #dashboard="routerLinkActive" >
    <div *ngIf="!dashboard.isActive"> <img height="20" width="20" src="assets/icon/side-menu-dashboard.png"></div>
    <div *ngIf="dashboard.isActive"> <img height="20" width="20" src="assets/icon/menu-dashboard.png"></div>
    <div class="item-menu-txt">Dashboard</div>
  </div>

  <div  *ngIf="model.asset" class="text-center sidebar-menu-item" [routerLink]="['/home/asset']" routerLinkActive #assets="routerLinkActive">
    <div *ngIf="!assets.isActive"> <img  height="20" width="20"  src="assets/icon/side-menu-assets.png"></div>
    <div *ngIf="assets.isActive"> <img  height="20" width="20"  src="assets/icon/icons-side-menu-assets-active-ic.png"></div>
      <div class="item-menu-txt">Assets</div>
  </div>
  <div *ngIf="model.userDirectory" class="text-center sidebar-menu-item" [routerLink]="['/home/userdirectory']" routerLinkActive #ud="routerLinkActive" >
    <div *ngIf="!ud.isActive"> <img height="20" width="20"  src="assets/icon/side-menu-user-directory.png"></div>
    <div *ngIf="ud.isActive"> <img height="20" width="20"  src="assets/icon/menu-user.png"></div>
      <div class="item-menu-txt">Users directory</div>
  </div> -->

  <div  class="text-center sidebar-menu-item" [routerLink]="['/home/tracker']" routerLinkActive #rla="routerLinkActive">
    <div *ngIf="!rla.isActive"> <img height="20" width="20"  src="assets/icon/side-menu-tracker.png"></div>
    <div *ngIf="rla.isActive"> <img height="20" width="20"  src="assets/icon/menu-tracker.png"></div>
      <div class="item-menu-txt">Tracker</div>
  </div>
  <!-- <div *ngIf="model.reports" class="text-center sidebar-menu-item" [routerLink]="['/home/reports']" routerLinkActive #reports="routerLinkActive">
    <div *ngIf="!reports.isActive"> <img height="20" width="20"  src="assets/icon/side-menu-reports.png"></div>
    <div *ngIf="reports.isActive"> <img height="20" width="20"  src="assets/icon/lg-menu-reports.png"></div>
      <div class="item-menu-txt">Reports</div>
  </div>
  <div *ngIf="model.messaging" class="text-center sidebar-menu-item" [routerLink]="['/home/messaging']" routerLinkActive #messaging="routerLinkActive">
    <div *ngIf="!messaging.isActive"> <img height="20" width="20"  src="assets/icon/side-menu-messaging.png"></div>
    <div *ngIf="messaging.isActive"> <img height="20" width="20"  src="assets/icon/lg-menu-messaging.png"></div>
      <div class="item-menu-txt"> Messaging</div>
  </div>
  <div *ngIf="model.notification" class="text-center sidebar-menu-item" [routerLink]="['/home/notification']" routerLinkActive #notifications="routerLinkActive">
    <div *ngIf="!notifications.isActive"> <img height="20" width="20"  src="assets/icon/side-menu-notifications.png"></div>
    <div *ngIf="notifications.isActive"> <img height="20" width="20"  src="assets/icon/lg-menu-notifications.png"></div>
      <div class="item-menu-txt">Notification</div>
  </div>
  <div *ngIf="model.configuration" class="text-center sidebar-menu-item" [routerLink]="['/home/configuration']" routerLinkActive #configurations="routerLinkActive">
    <div *ngIf="!configurations.isActive"> <img height="20" width="20"  src="assets/icon/side-menu-configuration.png"></div>
    <div *ngIf="configurations.isActive"> <img height="20" width="20"  src="assets/icon/lg-menu-configuration.png"></div>
      <div class="item-menu-txt">Configuration</div>
  </div>
  <div *ngIf="model.admin" class="text-center sidebar-menu-item" [routerLink]="['/home/admin']" routerLinkActive #adminlink="routerLinkActive">
    <div *ngIf="!adminlink.isActive"> <img height="20" width="20"  src="assets/icon/side-menu-admin.png"></div>
    <div *ngIf="adminlink.isActive"> <img height="20" width="20"  src="assets/icon/lg-menu-admin.png"></div>
      <div class="item-menu-txt">Admin</div>
  </div> -->


</div>
