<!-- <sidebar-component #sidebarComponent></sidebar-component> -->
<div *ngIf="loader" class="loading-indicator">
  <mat-spinner style="margin:0 auto;" mode="indeterminate" color="accent"></mat-spinner>
</div>
<div class="row">
  <div class="col-sm-1 col-md-2 col-lg-2 col-xl-2"></div>
  <div class="col-sm-10 col-md-9 col-lg-9 col-xl-9">
    <div class="container-fluid" style="padding-bottom:1%;">
      <div class="row" style="margin-top:4%;margin-bottom: 1.5%;">
        <div class="col-4 col-sm-8 co-md-8 col-lg-9 col-xl-7 pl-0">
          <span *ngIf="showStock" id="stockTab" class="head-label stock-mobile-view-margin-right mr-5" (click)="tabchangeEvent('stock')"
            [ngStyle]="{'color':tapType=='stock'?'#4a4a4a':'rgb(176, 179, 182)'}">STOCK</span>
          <span *ngIf="showInventory" id="inventorytab" class="head-label" (click)="tabchangeEvent('inventory')"
            [ngStyle]="{'color':tapType=='inventory'?'#4a4a4a':'rgb(176, 179, 182)'}">INVENTORY</span>
        </div>
        <div *ngIf="showStock || showInventory" class="col-8 col-sm-4 col-md-4 col-lg-3 col-xl-3 pr-0" style="text-align:right;">
          <img id="import-btn" *ngIf="tapType=='inventory'" (click)="importFile()" style="cursor:pointer;width:30px;"
            class="ml-2" src="../../../assets/icon/import_btn.png">
          <img id="swap-btn" style="cursor:pointer;" class="ml-2" (click)="swapRecord()"
            src="../../../assets/icon/swap-btn.png">
          <img id="delete-btn" style="cursor:pointer;" class="ml-2" src="../../../assets/icon/delete-btn.png"
            (click)="deleteRecord()">
          <img id="assign-btn" (click)="assignPopup()" style="cursor:pointer;" class="ml-2"
            src="../../../assets/icon/assign-btn.png">
        </div>
      </div>
      <div class="row" *ngIf="tapType=='stock' && showStock">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 pr-0 pl-0 mat-elevation-z8">
          <div class="angular-table table-responsive">
            <table class="table borderless" #stock #stockSort="matSort" [dataSource]="dataSource" matSort mat-table>
              <ng-container matColumnDef="select">
                <th style="padding-top:1%;padding-left:24px;" mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td style="padding-top:1%" mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="UniqueID">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element"> {{element.UniqueID}}
                </td>
              </ng-container>
              <ng-container matColumnDef="AssetName">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Asset Name</th>
                <td mat-cell *matCellDef="let element"> {{element.AssetName}}
                </td>
              </ng-container>
              <ng-container matColumnDef="SystemName">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Product</th>
                <td mat-cell *matCellDef="let element"> {{element.SystemName}}
                </td>
              </ng-container>
              <ng-container matColumnDef="DeviceModel">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Device Model</th>
                <td mat-cell *matCellDef="let element"> {{element.DeviceModel}}
                </td>
              </ng-container>
              <ng-container matColumnDef="LastSeenDate">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Last Seen</th>
                <td mat-cell *matCellDef="let element"> 
                    <div>{{element.LastSeenDate}}</div>
                    <div class="last-seen-text-design">{{element.LastSeenTime}}</div>
                </td>
              </ng-container>
              <ng-container matColumnDef="DeviceStatus">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element"> {{element.DeviceStatus}}
                </td>
              </ng-container>
              <ng-container matColumnDef="Description">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element"> {{element.Description}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
          </div>
          <mat-paginator id="2" #matpage [pageSizeOptions]="[10, 20,50,100,200]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
      <div class="row" *ngIf="tapType!='stock' && showInventory">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 pr-0 pl-0 mat-elevation-z8">
          <div class="angular-table table-responsive">
            <table class="table borderless" #firstTable #firstTableSort="matSort" [dataSource]="dataSource2" matSort mat-table>
              <ng-container matColumnDef="select">
                <th style="padding-top:1%;padding-left:24px;" mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle2() : null"
                    [checked]="selection2.hasValue() && isAllSelected2()"
                    [indeterminate]="selection2.hasValue() && !isAllSelected2()">
                  </mat-checkbox>
                </th>
                <td style="padding-top:1%" mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection2.toggle(row) : null"
                    [checked]="selection2.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="Product">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Product</th>
                <td mat-cell *matCellDef="let element"> {{element.Product}}
                </td>
              </ng-container>
              <ng-container matColumnDef="ModelName">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Model</th>
                <td mat-cell *matCellDef="let element"> {{element.ModelName}}
                </td>
              </ng-container>
              <ng-container matColumnDef="Total">
                <th mat-sort-header mat-header-cell *matHeaderCellDef>Total Units</th>
                <td mat-cell *matCellDef="let element"> {{element.Total}}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;">
              </tr>
            </table>
          </div>
          <mat-paginator #page2 id="1" [pageSizeOptions]="[10, 20,50,100,200]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-lg-1 col-xl-1"></div>
</div>
