<div class="backdrop">
  <app-fixedmenubar></app-fixedmenubar>
  <div class="container-fluid" style="background: inherit;margin-top:-80px;">
    <div class="row topmenu-item-container">
      <!-- <div class="col-4 menu-item menus" style="z-index: 0;" *ngIf="model.dashboard">
        <div id="container" [routerLink]="['/home/dashboard']">
          <div id="dashboardpagelink" class="text-center menu-icon">
            <img class="sm-icon-display" src="assets/icon/menu-dashboard.png">
            <img class="lg-icon-display" src="assets/icon/lg-menu-dashboard.png">
            <div class="menu-icon-text">DASHBOARD</div>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-4 menu-item menus" style="z-index: 0;" *ngIf="model.asset">
        <div id="container" [routerLink]="['/home/asset']">
          <div id="assetpagelink" class="text-center menu-icon">
            <img class="sm-icon-display" src="assets/icon/menu-assets.png">
            <img class="lg-icon-display" src="assets/icon/lg-menu-assets.png">
            <div class="menu-icon-text">ASSETS</div>
          </div>
        </div>
      </div>
      <div class="col-4 menu-item menus" style="z-index: 0;" *ngIf="model.userDirectory">
        <div id="container" [routerLink]="['/home/userdirectory']">
          <div id="userpagelink" class="text-center menu-icon">
            <img class="sm-icon-display" src="assets/icon/menu-user.png">
            <img class="lg-icon-display" src="assets/icon/lg-menu-user.png">
            <div class="menu-icon-text">USERS DIRECTORY</div>
          </div>
        </div>
      </div> -->

      <!-- <div class="row menu-item-container" > -->

      <div class="col-4 menu-item menus" style="z-index: 0;">
        <div id="container" [routerLink]="['/home/tracker']">
          <div id="trackerpagelink" class="text-center menu-icon">
            <img class="sm-icon-display" src="assets/icon/menu-tracker.png">
            <img class="lg-icon-display" src="assets/icon/lg-menu-tracker.png">
            <div class="menu-icon-text">TRACKER</div>
          </div>
        </div>
      </div>
      <!-- <div class="col-4 menu-item menus" style="z-index: 0;" *ngIf="model.reports">
        <div id="container" [routerLink]="['/home/reports']">
          <div id="reportspagelink" class="text-center menu-icon">
            <img class="sm-icon-display" src="assets/icon/menu-reports.png">
            <img class="lg-icon-display" src="assets/icon/lg-menu-reports.png">
            <div class="menu-icon-text">REPORTS</div>
          </div>
        </div>
      </div>
      <div class="col-4 menu-item menus" style="z-index: 0;" *ngIf="model.messaging">
        <div id="container" [routerLink]="['/home/messaging']">
          <div id="messagepagelink" class="text-center menu-icon">
            <img class="sm-icon-display" src="assets/icon/menu-messaging.png">
            <img class="lg-icon-display" src="assets/icon/lg-menu-messaging.png">
            <div class="menu-icon-text">MESSAGING</div>
          </div>
        </div>
      </div> -->

      <!-- </div> -->
      <!-- <div class="row menu-item-container" > -->
      
        <!-- <div class="col-4 menu-item menus" style="z-index: 0;" *ngIf="model.notification">
          <div id="container" [routerLink]="['/home/notification']">
            <div id="notificationpagelink" class="text-center menu-icon">
              <img class="sm-icon-display" src="assets/icon/menu-notifications.png">
              <img class="lg-icon-display" src="assets/icon/lg-menu-notifications.png">
              <div class="menu-icon-text">NOTIFICATION</div>
            </div>
          </div>
        </div>
        <div class="col-4 menu-item menus" style="z-index: 0;" *ngIf="model.configuration">
          <div id="container" [routerLink]="['/home/configuration']">
            <div id="configurationlink" class="text-center menu-icon">
              <img class="sm-icon-display" src="assets/icon/menu-configuration.png">
              <img class="lg-icon-display" src="assets/icon/lg-menu-configuration.png">
              <div class="menu-icon-text">CONFIGURATION</div>
            </div>
          </div>
        </div>
        <div class="col-4 menu-item menus" style="z-index: 0;" *ngIf="model.admin">
          <div id="container" [routerLink]="['/home/admin']">
            <div id="adminpagelink" class="text-center menu-icon">
              <img class="sm-icon-display" src="assets/icon/menu-admin.png">
              <img class="lg-icon-display" src="assets/icon/lg-menu-admin.png">
              <div class="menu-icon-text">ADMIN</div>
            </div>
          </div>
        </div> -->
      
    </div>
  </div>
</div>
