@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.additional-box {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 13%;
  right: 0px;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1.03%;
  /* padding-left: 4.17%; */
  
}
@media (max-width:1250px){
  .additional-box {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 13%;
    right: 0px;
    background-color: #FFFFFF;
    overflow-x: scroll !important;
    transition: 0.5s;
    padding-top: 1.03%;
    /* padding-left: 4.17%; */
    
  }
}
 /* width */
 ::-webkit-scrollbar {
  width: 7px;
  height: 8px
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #45AFDF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 153, 212);
}
@media (min-width:1440) {
  .additional-box {
    top: 9%;
  }
}

@media (min-width:1600px) and (max-width:1999px) {
  .additional-box {
    top: 8%;
  }

  .view-txt {
    font-family: robotoregular;
    color: #4a90e2;
    font-size: 13px;
    cursor: pointer;
  }
}

.help-out-img {
  cursor: pointer;
  margin-bottom: 20px
}

.side-bar-back-icon {
  cursor: pointer
}

.bf-five-text {
  font-family: robotomedium;
  font-size: 14px;
  color: #4d4d61;
  letter-spacing: 1.1px
}

.additional-box-edit-text {
  color: #169bd7;
  font-size: 13px;
  font-family: robotoregular;
  letter-spacing: .9px;
  cursor: pointer
}

.byd-text {
  font-family: robotomedium;
  color: #a7a7b4;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 20px
}

.station-txt {
  font-family: robotoregular;
  font-size: 13px;
  color: #a7a7b4;
  letter-spacing: .9px;
}

.tampa-txt {
  font-family: robotoregular;
  font-size: 13px;
  color: #4d4d61;
  letter-spacing: .87px;
}

.asset-info-txt {
  font-size: 14px;
  color: #64646e;
  font-family: robotoCondensedregular;
  letter-spacing: .9px;
  padding-bottom: 15px;
  cursor: pointer;
}

/* .asset-info-txt:hover {
  border-bottom: 1px solid #169bd7;
  color: #169bd7;
} */

.device-info-txt {
  font-size: 14px;
  color: #64646e;
  font-family: robotoCondensedregular;
  letter-spacing: .9px;
  padding-bottom: 15px;
  cursor: pointer;
}

.device-info {

  color: #4a90e2;
  border-bottom: 1px solid #4a90e2
}

.hr-line {
  margin-top: -2px;
  margin-bottom: 0
}

.cancel-text {
  font-family: robotoregular;
  color: #ea4256;
  font-size: 13px;
  cursor: pointer;
}

.apply-text {
  font-family: robotoregular;
  color: #4a90e2;
  font-size: 13px;
  cursor: pointer;
}

.help-selected-item {
  background-color: inherit;
  color: #4d4d61;
}
.help-selected-item-hide {
  background-color: inherit;
  color: #F5F5F5;
}

.help-dropdown-menu-item,
.help-input {
  width: 340px;
  height: 27px;
  border-radius: 2px;
  color: #4d4d61;
  background-color: inherit;
  border: 1px solid #b3e7ff99;
  /* box-shadow:0 1px 4px 1px rgba(22, 155, 215, 0.12); */
  padding-left: 15px;
  padding-top: 3px;
  margin-top: 5px;
  outline: none;
  font-size: 12px;
  font-family: robotoregular;
  font-stretch: condensed;
  letter-spacing: 0.9px;
  cursor: pointer;
}

.help-dropdown-menu {
  width: 340px;
  background-color: #fff;
  color: #4d4d61;
  font-family: robotoregular;
  border-radius: 2px;
  border: 1px solid #b3e7ff99;
  box-shadow: 0 1px 4px 1px rgba(22, 155, 215, 0.12);
  margin-top: 10px;
  padding-left: 15px;
  /* padding-bottom: 20px; */
}

.dropdown-menu-item {
  width: 226px;
  height: 34px;
  border-radius: 25px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.12);
  padding-left: 19px;
  padding-top: 3px;
  margin-top: 5px;
  font-family: robotoregular;
  cursor: pointer;
}

.dropdown-menu {
  width: 226px;
}

.dropdown-scroll {
  max-height: 350px;
  overflow-y: scroll
}

.dropdown-scroll::-webkit-scrollbar-track {
  background-color: inherit;
}

.dropdown-scroll::-webkit-scrollbar {
  width: 3px;
  background-color: inherit;
}

.dropdown-scroll::-webkit-scrollbar-thumb {
  background-color: #169bd7;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

.selected-item {
  background-color: inherit !important;
  color: #FFFFFF !important;
}

.help-site-name {
  margin-top: 10px;
  font-size: 13px;
  cursor: pointer;
  font-family: robotoCondensedregular;
}

.help-site-name:hover {
  color: #169bd7;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {

  background-color: #B3E7FF !important;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #169BD7;
}

::ng-deep .mat-ink-bar {
  background-color: #169bd7 !important;
}

::ng-deep .mat-tab-label-active {
  color: #00ADEE !important;
}

.mat-button-toggle-group {
  border: 1px solid #A6D9F0;
}

::ng-deep .mat-button-toggle-label-content {

  color: #2a6e96;
}

.mat-button-toggle-checked {
  background-color: #B3E7FF;
}

.view-txt {
  font-family: robotoregular;
  color: #4a90e2;
  font-size: 13px;
  cursor: pointer;
  /* padding-left: 6%; */
  padding-top: 1%;
}
.reset-btn{
    cursor: pointer;
    font-family: robotoregular;
    color: #111;
    font-size: 13px;
    cursor: pointer;
}
.side-bar{
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.25,.8,.25,1);
  transition-property: background-color,visibility;
  background-color: rgba(0,0,0,.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: block;
  z-index: 3;
  width:0;
}
.reset-text{
cursor: pointer;
}
