.map-tool-bar
{
    width:240px;min-height:30px;background-color:transparent;
    position: relative;;
    right:0;bottom:0;margin-bottom:5.431309904153355vh;left:43%;
    /* padding-bottom: 3%; */
    margin-top:-5%;
}